node-red/.flows.json.backup
[{"id":"dcbccc0778e5889f","type":"tab","label":"Retro lights ","disabled":false,"info":"","env":[]},{"id":"62d64e15.9f138","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"925dbae5bbba78eb","type":"server-events","z":"dcbccc0778e5889f","name":"","server":"62d64e15.9f138","version":1,"event_type":"ios.action_fired","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":180,"y":280,"wires":[["ee02aad11cd4a0b7","b6578e96bec02ae2"]]},{"id":"ee02aad11cd4a0b7","type":"switch","z":"dcbccc0778e5889f","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"Warm mode","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":280,"wires":[["3605f599c5b2524c"]]},{"id":"3605f599c5b2524c","type":"api-call-service","z":"dcbccc0778e5889f","name":"Warm mode Lights","server":"62d64e15.9f138","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["d5c0299b4cb62272854d7ac1d701a509","9983a6fd6fe15d2262204595872cc6a2","fd8611212158e0e2aaa73cc56135e534"],"entityId":["light.retro_light_1","light.retro_light_2","light.retro_light_3"],"data":"{\"brightness\":30,\"color_temp\":415}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":280,"wires":[[]]},{"id":"b6578e96bec02ae2","type":"switch","z":"dcbccc0778e5889f","name":"","property":"payload.event.actionName","propertyType":"msg","rules":[{"t":"eq","v":"Movie","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":340,"wires":[["8c05d6c73d330ca5"]]},{"id":"8c05d6c73d330ca5","type":"api-call-service","z":"dcbccc0778e5889f","name":"Movie mode lights","server":"62d64e15.9f138","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["d5c0299b4cb62272854d7ac1d701a509","9983a6fd6fe15d2262204595872cc6a2","fd8611212158e0e2aaa73cc56135e534"],"entityId":["light.retro_light_1","light.retro_light_2","light.retro_light_3"],"data":"{\"brightness\":10,\"color_temp\":450}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":340,"wires":[[]]},{"id":"318daabb9636dd9b","type":"timecheck","z":"dcbccc0778e5889f","name":"Is time 23:30?","time":"23:30","x":180,"y":520,"wires":[["59d73b707456adbf"],[]]},{"id":"59d73b707456adbf","type":"api-call-service","z":"dcbccc0778e5889f","name":"Turn off retro lights","server":"62d64e15.9f138","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":["d5c0299b4cb62272854d7ac1d701a509","9983a6fd6fe15d2262204595872cc6a2","fd8611212158e0e2aaa73cc56135e534"],"entityId":["light.retro_light_1","light.retro_light_2","light.retro_light_3"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":520,"wires":[[]]}]